@using s3851558_a3.Models
@using s3851558_a3.ViewModels
@model CourseVM

@{
    // CourseID is number input, only allow 4 numbers, must be 1000 or above.

    // Title - must not be empty.

    // CreditPoints - dropdown select

    // Career = Dropdown select

    // Coordinator name - text input. 
}
<form asp-action="ValidateViewModel">
    <!-- CourseID -->
    <div class="row align-items-start">
        <div class="col text-uppercase">
            <h4>
            <label asp-for="CourseID" class="control-label"></label>
            </h4>
            <span>Enter four numbers only (1234 = COSC1234).</span>
            <br />
            <span>Range must be within 1000-9999.</span>
            <input asp-for="CourseID" type="text" class="form-control" value="@Model.CourseID" pattern="^[1-9]\d{3}$" title="Please enter a valid number between 1000-9999" required/>
            <span asp-validation-for="CourseID" class="text-danger"></span>
            @Html.ValidationMessage("InvalidCourseID", new { @class="text-danger"})
        </div>
    </div>
    <p></p>
    <!-- Title -->
    <div class="row align-items-start">
        <div class="col text-uppercase">
            <h4>
                <label asp-for="Title" class="control-label"></label>
            </h4>
            <input asp-for="Title" type="text" class="form-control" value="@Model.Title" pattern="([a-zA-Z]+ ?)+" title="Title must not be empty!" required />
            <span asp-validation-for="Title" class="text-danger"></span>
            @Html.ValidationMessage("InvalidTitle", new { @class="text-danger"})
        </div>
    </div>
    <p></p>
    <!-- Credit Points -->
    <div class="row align-items-start">
        <div class="col text-uppercase">
            <h4>
                <label asp-for="CreditPoints" class="control-label"></label>
            </h4>
            <select id="CreditPoints" name="@nameof(Model.CreditPoints)" style="max-width: 300px;">
                <option value="-1">Select...</option>
                @for (int i = 1; i < 13; i++){
                    <option value="@i">@i</option>
                }
             </select>
            <span asp-validation-for="CourseID" class="text-danger"></span>
            @Html.ValidationMessage("InvalidCreditPoints", new { @class="text-danger"})
        </div>
    </div>
    <p></p>
    <!-- Career -->
    <div class="row align-items-start">
        <div class="col text-uppercase">
            <h4>
                <label asp-for="Career" class="control-label"></label>
            </h4>
            <select id="Career" name="@nameof(Model.Career)" style="max-width: 300px;">
                <option value="-1">Select...</option>
                <option value="Postgraduate">Postgraduate</option>
                <option value="Undergraduate">Undergraduate</option>
             </select>
            <span asp-validation-for="CourseID" class="text-danger"></span>
            @Html.ValidationMessage("InvalidCareer", new { @class="text-danger"})
        </div>
    </div>
    <p></p>
    <!-- Coordinator -->
    <div class="row align-items-start">
        <div class="col text-uppercase">
            <h4>
                <label asp-for="Coordinator" class="control-label"></label>
            </h4>
            <input asp-for="Coordinator" type="text" class="form-control" value="@Model.Coordinator" required/>
            <span asp-validation-for="Coordinator" class="text-danger"></span>
            @Html.ValidationMessage("InvalidCoordinator", new { @class="text-danger"})
        </div>
    </div>
    <p></p>
    <input type="submit" class="btn btn-primary" />
</form>