@using s3851558_a3.Models
@using s3851558_a3.ViewModels;
@model EnrolStudentVM;

<h1 style="text-align: center;">Enrol Student</h1>

<form asp-action="ValidateNewEnrolment">
    <div style="display: flex; flex-direction: row;">
        <div style="display: flex; flex-direction: column; width: 50%; padding:10px; align-items: center;">
            <h3>Select Course: </h3><br />
            <select id="SelectedCourseID" name="@nameof(Model.SelectedCourseID)" style="max-width: 300px;">
                <option value="-1">Select...</option>
                @foreach(Course course in Model.Courses)
                {
                    <option value="@course.CourseID">@course.CourseID : @course.Title</option>
                }
            </select>
            <span asp-validation-for="SelectedCourseID" class="text-danger"></span>
        </div>
        <div style="display: flex; flex-direction: column; width: 40%; padding:10px; align-items: center;">
            <h3>Select Student: </h3><br />
            <select id="SelectedStudentID" name="@nameof(Model.SelectedStudentID)" style="max-width: 300px;">
                <option value="-1">Select...</option>
                @foreach (Student student in Model.Students)
                {
                    <option value="@student.StudentID">@student.StudentID : @student.FirstName  @student.LastName</option>
                }
            </select>
            <span asp-validation-for="SelectedStudentID" class="text-danger"></span>
        </div>
    </div>
    <p></p>
    <div style="display: flex; flex-direction: column; align-items: center;">
        @Html.ValidationMessage("AlreadyEnrolled", new { @class="text-danger"})
        <p></p>
        <input type="submit" class="btn btn-primary" />
    </div>
</form>