@using s3851558_a3.Models
@model List<Course>

<h1>Course Information</h1>

@foreach(Course course in Model){
    <hr />
    <div style="display: flex; flex-direction: row;"><!-- Row -->
        <div style="display: flex; flex-direction: column; width: 50%; padding:10px;">
            <h2>@course.Title</h2>
            <span>ID : @course.CourseID</span>
            <span>Credit Points : @course.CreditPoints</span>
            <span>Career : @course.Career</span>
            <span>Coordinator: @course.Coordinator</span>
        </div>
        <div style="display: flex; flex-direction: column; width: 40%; padding:10px;">
            <h3>Students Enrolled (@course.Enrolments.Count):</h3>
            <select name="students[]" size="5" style="border-bottom-left-radius: 10px; border-top-left-radius: 10px">
                @foreach(Enrolled en in course.Enrolments)
                {
                    <option value="@en.StudentID">@en.StudentID : @en.Student.FirstName @en.Student.LastName</option>
                }
            </select>
        </div>
    </div>
}

